<h1>Editing Movimentacao Estoque</h1>

<%= render 'form', movimentacao_estoque: @movimentacao_estoque %>

<%= link_to 'Show', @movimentacao_estoque %> |
<%= link_to 'Back', movimentacao_estoques_path %>
